<div class="box box_medium mix-box_255255255 mix-box_divided">
  <div class="vr_6x">
    <div class="vr_8x">
        <h2 class="hdg hdg_1 txt-center">We do the bookkeeping, you run your business</h2>
    </div>

    <div class="box box_narrow">
      <div class="blocks blocks_3up txt-center">
        <div>
          <a href="<%= about_path %>" title="">
            <img src="assets/images/quick-assist-many-hats-top-hat.png" alt="Accounts Payable" height="150px" />
          </a>
        </div>
        <div>
          <a href="<%= about_path %>" title="">
            <img src="assets/images/quick-assist-many-hats-chef-hat.png" alt="Bank Reconciliation" height="150px" />
          </a>
        </div>
        <div>
          <a href="<%= about_path %>" title="">
            <img src="assets/images/quick-assist-many-hats-fedora.png" alt="Payroll Processing" height="150px" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="vr_6x">
    <div class="box box_narrow">
      <div class="vr_4x">
        <p class="txt txt-left txt-lg">
            Being an entrepreneur requires you to wear many different hats
        </p>
      </div>
      <p class="txt txt-left txt-md">
        Instead of actually running your business, do you find yourself
        <ul class="vlist mix-vlist_unordered">
          <li>Paying and managing bills</li>
          <li>Entering sales figures</li>
          <li>Balancing your bank account</li>
          <li>Running payroll</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="vr_8x">
    <div class="box box_narrow">
      <p class="txt txt-left">
        The burden of bookkeeping can be all consuming on the small business owner.  At Quick Assist, we help you get back to business at a fraction of the cost of an in-house bookkeeper.  With more knowledge and expertise, we can reconcile your accounts, issue invoices, track your accounts payable, pay your bills, and many other accounting tasks.
      </p>
    </div>
  </div>

  <div class="vr_6x">
    <div class="box box_narrow">
      <div class="blocks blocks_4up txt-center">
        <div>
          <a href="<%= about_path %>" title="">
            <img src="assets/images/quick-assist-calculator.png" alt="" />
          </a>
        </div>
        <div>
          <a href="<%= about_path %>" title="">
            <img src="assets/images/quick-assist-bank-reconciliation.png" alt="Bank Reconciliation" />
          </a>
        </div>
        <div>
          <a href="<%= about_path %>" title="">
            <img src="assets/images/quick-assist-pen.png" alt="Payroll Processing" />
          </a>
        </div>
        <div>
          <a href="<%= about_path %>" title="">
            <img src="assets/images/quick-assist-invoicing.png" alt="Invoicing" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="vr_8x">
    <div class="box box_narrow">
      <p class="txt txt-left">
        We work on a fixed fee basis so you always know your costs.  We offer unlimited consulting, free of charge, so you can get the answers you need to run your business without worrying about the billable hour.
      </p>
    </div>
  </div>

  <div class="vr_8x">
    <p class="txt txt-center">
      Let our experts take on the bookkeeping burden.<br />
      Contact us today!<br /><br />
      Phone: 612-615-7795<br />
      <a class="link" href="mailto:info@quickassist.biz" title="Contact us today!">info@quickassist.biz</a>
    </p>
  </div>
</div>
