<div class="box box_small mix-box_jumbotron">
    <div class="section_media">
        <div class="section_media-img u-isHiddenSM">
            <img class="logo_cta" src="/assets/images/qa-logo-q.png" alt="logo" />
        </div>
        <div class="section_media-content">
            <div class="feature">
                <div class="feature-hd">
                  <h1>
                    <img src="/assets/images/qa-logo-script-white.png" alt="Qucik Assist" />
                  </h1>
                </div>
                <div class="feature-ft">
                  <h2 class="hdg hdg-tagline">
                    Innovative Bookkeeping Solutions
                  </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box_medium mix-box_255255255 mix-box_divided">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">We do the bookkeeping, you run the business</h2>
        </div>
        <div class="blocks blocks_3up">
          <div>
            <a href="<%= about_path %>" title="">
              <img src="assets/images/qa-accounts-payable.png" alt="Accounts Payable" />
            </a>
          </div>
          <div>
            <a href="<%= about_path %>" title="">
              <img src="assets/images/qa-bank-reconciliation.png" alt="Bank Reconciliation" />
            </a>
          </div>
          <div>
            <a href="<%= about_path %>" title="">
              <img src="assets/images/qa-payroll-processing.png" alt="Payroll Processing" />
            </a>
          </div>
        </div>

        <div class="blocks blocks_3up">
          <div>
            <a href="<%= about_path %>" title="">
              <img src="assets/images/qa-credit-card-reconciliation.png" alt="Credit Card Reconciliation" />
            </a>
          </div>
          <div>
            <a href="<%= about_path %>" title="">
              <img src="assets/images/qa-document-management.png" alt="Document Management" />
            </a>
          </div>
          <div>
            <a href="<%= about_path %>" title="">
              <img src="assets/images/qa-invoicing.png" alt="Invoicing" />
            </a>
          </div>
        </div>
    </div>
</div>

<div class="box box_medium mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">Bookkeeping in the cloud</h2>
        </div>
        <div class="vr_8x">
            <div class="vr_6x">
                <p class="txt txt-lg mix-txt_primaryGrey">
                    We use cutting edge technologies to simplify the books and records of your business.
                </p>
            </div>

            <div class="vr_4x">
                <p class="txt txt-md">
                    Using programs like <a class="link" href="https://qbo.intuit.com/redir/testdrive" target="_blank" name="Intuit Quickbooks Test Drive">Quickbooks</a>,
                    <a class="link" href="https://www.entryless.com/features" target="_blank" name="Entryless - Online bill transcription">Entryless</a>,
                    <a class="link" href="http://hubdoc.com/how-it-works" target="_blank" name="Hubdoc - How It Works">Hubdoc</a>
                    <a class="link" href="https://www.bill.com/dhhome/" target="_blank" name="Bill.com">Bill.com</a>
                    and many others we help entrepreneurs manage their business through innovative technology.
                </p>
            </div>

            <p class="txt txt-md">
                <a class="link" href="http://quickassistblog.com/contact/" target="_blank">Contact us</a>
                today to see how we can help your business!
            </p>
        </div>
        <div class="box">
            <ul class="hlist hlist_loose">
            <li>
                <a href="http://proadvisor.intuit.com/quickbooks-help/david-j-geslin-2" target="_blank">
                    <img class="image image-constrained" src="/assets/images/quickbooks-online_logo_400-140.png" alt="Quickbooks Online" />
                </a>
            </li>
            <li>
                <a href="http://proadvisor.intuit.com/quickbooks-help/david-j-geslin-2" target="_blank">
                    <img class="image image-constrained" src="/assets/images/certification-quickbooks-icon.png" alt="Intuit Certified ProAdvisor" />
                </a>
            </li>
            <li>
                <a href="http://www.hubdoc.com/?utm_source=partner" target="_blank">
                    <img src="http://blog.hubdoc.com/wp-content/uploads/2015/06/Bronze.png" width="125px" height="125px" border="0" alt="Hubdoc Bronze Partner" />
                </a>
            </li>
            <li>
                <a href="http://xero.com" target="_blank">
                    <img class="image image-constrained" src="/assets/images/xero-certified-advisor-logo-hires.png" alt="Xero Certified Advisor" />
                </a>
            </li>
        </ul>
        </div>
    </div>
</div>
